{% extends 'base.html.twig' %}

{% block body %}

{% include 'home/menu.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('home') }}
{% endblock %}

<div class="introduction_section">
    <div class="introduction_video">
        <iframe width="657" height="370" src="https://www.youtube.com/embed/JAUjEELVlQY" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </iframe>
    </div>
    <div class="introduction_description">
        <div class="introduction_text">
            <p class="lead">Depuis 25 ans, PSE mène les enfants les plus pauvres du Cambodge de la misère à un
                métier&nbsp;!</p>
            <p>Nos réalisations&nbsp;:</p>
            <ul>
                <li>12 000 enfants sauvés de la misère</li>
                <li>5 500 « anciens » avec un emploi digne et correctement rémunéré</li>
            </ul>
            <p><a href="https://www.pse.ong/association-humanitaire/histoire-association-qui-agit-enfants-pauvres-cambodge"
                    class="introduction_button">En savoir plus sur PSE</a></p>
        </div>
    </div>
</div>

<div>
    <p class="lead_title">Nos actions pour sortir durablement les enfants et leurs familles de la misère depuis 25 ans
    </p>
    <div class="row lead_container">
        <div class="lead_content">
            <div class="square square-160">
                <div class="media media-element-container media-full">
                    <div id="file-6524" class="file file-image file-image-jpeg">
                        <div class="content">
                            <img class="media-element file-full img-responsive" data-delta="1" typeof="foaf:Image"
                                src="https://www.pse.ong/sites/default/files/styles/hd/public/media/pse_-_cantine.redimensionne.jpg?itok=Pe08wn0v"
                                width="300" height="150" alt="children"> </div>
                    </div>
                </div>
            </div>
            <p><a href="https://www.pse.ong/malnutrition"></a>Nourrir</p>
        </div>
        <div class="lead_content">
            <div class="square square-160">
                <div class="media media-element-container media-full">
                    <div id="file-6525" class="file file-image file-image-jpeg">
                        <div class="content">
                            <img class="media-element file-full img-responsive" data-delta="2" typeof="foaf:Image"
                                src="https://www.pse.ong/sites/default/files/styles/hd/public/media/a_l_infirmerie_du_centre.redimensionne.jpg?itok=6HbLfdvV"
                                width="300" height="150" alt="children"> </div>
                    </div>
                </div>
            </div>
            <p><a href="https://www.pse.ong/malnutrition/pse-offre-soins-medicaux-tous-enfants-pris-charge"></a>Soigner
            </p>
        </div>
        <div class="lead_content">
            <div class="square square-160">
                <div class="media media-element-container media-full">
                    <div id="file-6526" class="file file-image file-image-jpeg">
                        <div class="content">
                            <img class="media-element file-full img-responsive" data-delta="3" typeof="foaf:Image"
                                src="https://www.pse.ong/sites/default/files/styles/hd/public/media/50874003_2177550578969664_3283266854411304960_o_.redimensionne.jpg?itok=jB1gva5u"
                                width="300" height="150" alt="children"> </div>
                    </div>
                </div>
            </div>
            <p><a href="https://www.pse.ong/education/sourire-enfant-protege-enfants-danger-leur-famille"></a>Protéger
            </p>
        </div>
        <div class="lead_content">
            <div class="square square-160">
                <div class="media media-element-container media-full">
                    <div id="file-6527" class="file file-image file-image-jpeg">
                        <div class="content">
                            <img class="media-element file-full img-responsive" data-delta="4" typeof="foaf:Image"
                                src="https://www.pse.ong/sites/default/files/styles/hd/public/media/en_classe.redimensionne.jpg?itok=M8oIpNPC"
                                width="300" height="150" alt="children"> </div>
                    </div>
                </div>
            </div>
            <p><a href="https://www.pse.ong/education"></a>Éduquer et scolariser</p>
        </div>
        <div class="lead_content">
            <div class="square square-160">
                <div class="media media-element-container media-full">
                    <div id="file-6528" class="file file-image file-image-jpeg">
                        <div class="content">
                            <img class="media-element file-full img-responsive" data-delta="5" typeof="foaf:Image"
                                src="https://www.pse.ong/sites/default/files/styles/hd/public/media/as_khm_794.redimensionne.jpg?itok=to-eH9g6"
                                width="300" height="150" alt="children"> </div>
                    </div>
                </div>
            </div>
            <p><a
                    href="https://www.pse.ong/education/formation-professionnelle-qualite-mener-chaque-jeune-metier"></a>Former
                à un métier</p>
        </div>
        <div class="lead_content">
            <div class="square square-160">
                <div class="media media-element-container media-full">
                    <div id="file-6529" class="file file-image file-image-jpeg">
                        <div class="content">
                            <img class="media-element file-full img-responsive" data-delta="6" typeof="foaf:Image"
                                src="https://www.pse.ong/sites/default/files/styles/hd/public/media/top.redimensionne.jpg?itok=PJh7FHZn"
                                width="300" height="150" alt="children"> </div>
                    </div>
                </div>
            </div>
            <p><a href="https://www.pse.ong/education/programmes-aider-familles-enfants-pris-charge"></a>Aider les
                familles</p>
        </div>
    </div>
</div>

{% endblock %}