
ul{
    margin: 0;
    padding: 0;
}

.navbar_menu_content>a {
    text-decoration: none;
    color: #005bbb;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar_submenu_content>a {
    text-decoration: none;
    color:#005bbb;
    padding: 0 4px;
    font-size: 14px;
}

.navbar_submenu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 30px;
}

.navbar_menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
    margin: 0 auto;
    font-weight: bold;
    align-items: center;
}

.navbar_menu_logo{
    width: 15%;
    align-items: center;
    height: 60px;
}

.navbar_menu_button{
    padding: 3px 6px 6px;
    background-color: #ec6b10;
    border-radius: 4px;
    width: 117px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin: 6px;
    width: 140px;
    height: 44px;
}

.navbar_menu_button_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_menu_button_container>li {
    list-style: none;
}

.menu_section{
    background: white;
}

.navbar_menu_container{
    display: flex;
    padding: 23px 12px 23px 15px;
}